body{
	font-family: 'Montserrat', sans-serif;
	background-image: url(img/noise.png);
	background-repeat: repeat;
    overflow: hidden;
}
#mainHeader{height: 100vh;margin:0px;}
.boldest{
    font-weight: 700;
}
.title{
    letter-spacing: 0.15em;
}
.lightest{
	font-weight: 300;
}
.light{
	font-weight: 300;
}
::selection {
  background: #f9e48f;
}
::-moz-selection {
  background: #f9e48f;
}
.resumeBtn{
    background: #2a2a2a;
    padding: 20px 55px;
    margin-top: 20px;
    color: #fff;
    border-radius: 0px;
    letter-spacing: 0.2em;
}
.resumeBtn:hover{
    color: #fff;
}
.section.is-medium {
    padding: 5rem 1.5rem;
}
p{
    color: #2a2a2a;
}
.paddingBtm{
    padding-bottom: 10px;
}
.title:not(:last-child) {
    margin-bottom: 2.0rem;
}
h1{
    color: #222;
    font-weight: 400;
}
:focus {
    outline: none;
}
.artHeight{
    max-height: 500px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
}
.sbHeight{
    max-height: 500px;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
}

.slick-prev, .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
    background-image: url(img/arrowPrev.svg);
    background-repeat:no-repeat;
    width:10px;
    height:20px;
}
.slick-next, .slick-next:hover, .slick-next:active, .slick-next:focus {
    background-image: url(img/arrowNext.svg);
    background-repeat:no-repeat;
    width:10px;
    height:20px;
}
.slick-prev:before {
    content:'';
}
.slick-next:before {
    content:'';
}
.slick-prev:before, .slick-next:before {
    line-height: 1;
    opacity: .75;
    color: #191111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*HeADER SECTION START*/
header{margin:0px;}
#logo{
    position: relative;
    top: 15px;
    left: 15px;
    width: 227px;
    height: 140px;
    z-index: 200000;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
}

#headerContent .container{
   padding: 0rem 0rem 5rem 0rem; 
}
#headerImg{
   max-width: 135%;
}
#headerContent{
    padding-top:0px;
    padding-bottom:0px;
}
#contentBtm{
    position: absolute;
    bottom: 5%;
    right: 5%;
    letter-spacing: 0.2em;
}
#About p{
    letter-spacing: 0.1em;
}

/*
#contentBtm .title{
    color: #fff;
    text-shadow: 0 0 3px #fff, 0 0 22px #fff, 0 0 28px #ff0080, 0 0 1px #ff0080, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 25px #ff0080;
}
*/
a{
	color:#fff;
}
#mobileNavClose{
/*	display: none;*/
	color:#f00;
	height: 50px;
	right: 10px;
	top:10px;
	text-align:  right;
	font-size:18px;
	z-index:  200000;
	position: fixed;
	cursor: pointer;
    transform: scale(0);
}
#mobileNav{
    color:#fff;
    width: auto;
    height: 50px;
    right: 10px;
    top: 10px;
    text-align:  right;
    font-size:18px;
    z-index:  200000;
    position: fixed;
    cursor: pointer;
}
.footer {
    background-color: #9ae9ef6b;
    padding: 2rem 1.5rem 2rem;
}
#imgTop{
        padding: 0px 40px 40px 40px;
}
#mobileNav_wrap{
	 position: fixed;
	 top: 0px;
	 right:  0px;
	 /* width: 9%; */
	 /* height: 80px; */
	 z-index: 200000;
	 text-align: center;
}
#mainNav{
    position: fixed;
    right: -300px;
    top:0;
    /* width: 300px; */
    padding: -2px;
    height: 300px;
    /* background-color: #000000; */
    /* border-bottom: 5px solid #663600; */
    /* border-left: 5px solid #00d800; */
    z-index: 100000;
    /* text-align: center; */
    text-transform: uppercase;
    width: 0px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 270px solid #2a2a2aed;
    border-bottom: 420px solid transparent;
}
#mainNav ul{
     padding: 0px;
     margin: 0;
     margin-top: 76px;
     right: 0px;
     display: block;
     /* text-align: right; */
     list-style-type: none;
     width: 270px;
     z-index: 10000;
}
#mainNav li{
	   font-weight: 600;
	   font-size: 16px;
	   letter-spacing: 0.2em;
	   display: block;
	   text-align: right;
	   padding: 5px 5px 5px 0px;
	   /* font-weight:  100; */
	   margin: 0px;
}
#mainNav li:hover{
	background: #c8f2f4f2;
}

.tile-padding{
    padding: 20px 0px 20px 0px;
    background: #2a2a2a00;
    border: 5px solid #2a2a2a;
}
.tile-link-padding{
	padding: 20px; 
}
.art-album,.storyboard-album{
    width: 90%;
    margin: 0 auto;
}
/*CONTACT SECTION END*/

@media (min-width: 420px){
#headerImg{
   max-width: 100%;
}
}


@media (min-width: 680px){
header{height: 100vh;margin:0px;}
#contentBtm{
    bottom: 10%;
}
    #headerContent .container{
   padding: 5rem 0rem 5rem 0rem; 
}
.slick-prev, .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
    background-image: url(img/arrowPrev.svg);
    background-repeat:no-repeat;
    width:20px;
    height:80px;
}
.slick-next, .slick-next:hover, .slick-next:active, .slick-next:focus {
    background-image: url(img/arrowNext.svg);
    background-repeat:no-repeat;
    width:20px;
    height:80px;
}
.artHeight{
    max-height: 500px;
    max-width: 800px;
    width: auto;
    margin: 0 auto;
}
.sbHeight{
    max-height: 500px;
    max-width: 950px;
    width: auto;
    margin: 0 auto;
}
#logo{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 287px;
    height: 107px;
    z-index: 200000;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
}
	#mainNav{
		border-right: 270px solid #2a2a2aed;
		border-bottom: 400px solid transparent;
	}
	#mainNav ul{
		 width: 270px;
	}
	.tile-padding{
    padding: 70px 0px 70px 0px;
    background: #2a2a2a00;
    border: 5px solid #2a2a2a;
	}
	.tile-padding:hover{
    background: #fbf8a173;
	}
}


@media (min-width: 900px){
.section.is-medium {
    padding: 6rem 1.5rem;
}		


}


@media (min-width: 1200px){

	
}