@charset "UTF-8";
/* CSS Document */

img[src$=".gif"], img[src$=".png"] {
                   image-rendering: -moz-crisp-edges;         /* Firefox */
                   image-rendering:   -o-crisp-edges;         /* Opera */
                   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
                   image-rendering: optimizeQuality;
                   /*-ms-interpolation-mode: nearest-neighbor;   IE (non-standard property) */
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}x

:focus {outline:none;}
::-moz-focus-inner {border:0;}
body, body * {
	vertical-align: baseline;border: 0;outline: 0;padding: 0;margin: 0;
    /* PLEASE CHANGE THE PROPERTIES IF NEEDED BELOW BUT DO NOT REMOVE TOTALLY */
    font-family: sans-serif; 
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#container_dc {
    z-index:20;position: absolute;top: 0px;left: 0px;margin: auto;overflow: hidden;
    /* PLEASE CHANGE THE PROPERTIES IF NEEDED BELOW BUT DO NOT REMOVE TOTALLY */
    width: 298px;
	height:248px;
    background-image: url(_img/bg.jpg);
    border:1px solid #000000;
}
#content_dc {
	position: absolute;
    width: 298px;
    height:248px;
    top: 0px;
    left: 0px;
    z-index: 100;
    overflow: hidden;
}

#hotspot {
    position: absolute;
    top:0px;left:0px;
    height: 100%;
    width:100%;
    cursor: pointer;
    z-index: 150;
}  
/*DO NOT REMOVE OR CHANGE */
#logo{
    background-image: url(_img/logo.svg);
    width: 75px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: 210px;
}
#bg2{
    background-image: url(_img/bg2.jpg);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
}
#txt1{
    background-image: url(_img/txt1.png);
    width: 222px;
    height: 55px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 42px;
    top: 3px;
}
#coors{
    background-image: url(_img/coors.png);
    width: 56px;
    height: 91px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 125px;
    bottom: 0px;
}
#redds{
    background-image: url(_img/redds.png);
    width: 61px;
    height: 168px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 74px;
    bottom: 0px;
}
#blue_moon{
    background-image: url(_img/blue_moon.png);
    width: 62px;
    height: 169px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 166px;
    bottom: 0px;
}
#burg1{
    background-image: url(_img/burg1.png);
    width: 91px;
    height: 75px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 22px;
    bottom: 0px;
}
#burg2{
    background-image: url(_img/burg2.png);
    width: 103px;
    height: 77px;
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    left: 193px;
    bottom: 0px;
}
#cta{
	background-color: #de241f;
	width: 83px;
	height: 27px;
	position: absolute;
	left: 112px;
	top: 49px;
}
#ctaTxt{
    background-image: url(_img/ctaTxt.svg);
    width: 61px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 10px;
    top: 8px;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
/*z-index: 100000;*/
  /* background: #000; */
}
.startZero{
    opacity: 0;
}
